* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightblue;
}

.container {
  margin: 0 auto;
  background: white;
  width: 50%;
  max-width: 350px;
  min-width: 250px;
}

/* -------------------- HEADER ------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0.5em;
}

.profile-icon-container,
.chat-icon-container {
  width: 15%;
  margin: 0.5em;
  padding: 0.5em;
}

.chat-icon,
.profile-icon {
  width: 100%;
}

.profile-icon-container {
  position: relative;
}

.profile-count {
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.75em;
}

.profile-icon-container:hover,
.chat-icon-container:hover {
  box-shadow: 0px 5px 20px #6f837d;
  border-radius: 50%;
  cursor: pointer;
}

.paw-icon-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #fa695a 0%, #f83375 100%);
  border-radius: 30px;
  border: none;
}

.paw-icon-container:hover {
  box-shadow: 0px 5px 20px #e01c0e;
  cursor: pointer;
}

.paw-icon {
  width: 30%;
  padding: 0.8em 0;
}

/* ---------------- MAIN CONTENT ------------------------- */

.img-container {
  width: 98%;
  margin: 0 auto;
  position: relative;
  color: #fff;
  font-size: 1.3rem;
}

.dog-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.name-age,
.bio {
  text-shadow: 1px 1px 1px black;
  background: rgba(12, 12, 12, 0.2);
  padding: 0.2em;
}

.name-age {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-weight: bold;
  font-size: 1.75rem;
}

.bio {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.like-image,
.nope-image {
  box-sizing: border-box;
  position: absolute;
  left: 4%;
  top: 8%;
  width: 42%;
  border-radius: 15px;
  transform: rotate(-30deg);
}

.none {
  display: none;
}

.no-profiles {
  color: black;
  height: 425px;
}

/* ---------------- FOOTER --------------------*/

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 1em 0.75em;
  padding: 1em;
  object-fit: cover;
  box-shadow: 0px 10px 20px #6f837d;
  border-radius: 50%;
}

footer > div > img {
  width: 100%;
}

.like-icon-container:hover {
  cursor: pointer;
  background: #dbfff4;
}

.nope-icon-container:hover {
  cursor: pointer;
  background: #ffe7ef;
}

.disabled {
  pointer-events: none;
}

/* ---------------------LIKED LIST ----------------------- */

h1 {
  width: 100%;
  text-align: center;
  margin: 0;
}

.liked-list {
  padding: 0.5em;
  height: 500px;
  overflow-y: auto;
}

.liked-profile {
  display: flex;
  align-items: center;
  margin-top: 1em;
  border: 2px solid rgb(238, 116, 9);
  padding: 0.5em 0.5em;
  border-radius: 8px;
  box-shadow: 1px 2px;
}

.liked-image-container {
  width: 20%;
}

.liked-dog-image {
  width: 100%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1em;
  aspect-ratio: 1;
}

.liked-text {
  margin-left: 2em;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.liked-name-age {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.no-likes {
  width: 95%;
  margin-left: 0.65em;
}

.liked-message {
  margin: 0;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 0.25em 0.5em;
}

.liked-message:hover {
  cursor: pointer;
  background-color: #fcd180;
}

/* --------------------- Message Center ----------------------- */

.message-center {
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message-center > h1 {
  margin-bottom: 1em;
}

.message-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.dog-message-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.message-list > input {
  width: 70%;
  height: 40px;
  display: flex;
  align-self: center;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: center;
  margin: 0 0.25em;
  cursor: pointer;
}

.message-area {
  border: 1px solid black;
  height: 100%;
  
}
